@CHARSET "UTF-8";

a, a:hover, a:visited { 
	text-decoration:none;
	color : #000;
}

ul li { 
	list-style : none;
	margin : 0;
	padding : 0;
}

p {
	font-size : 14px;
}



#wrap{
	position:relative; 
	width:100%;
	margin-bottom : 18.720px;
}
   
#main_bn {
    margin:0 auto;
    width:850px;
    height:420px;
}
    
#main_bn img {
    width:100%;
    height:auto;
}

#main_bn_btn {
    list-style-type:none !important;
    position:absolute;
    bottom:15px; 
    left:50%;
    margin-left : -80px;   	
}

#main_bn_btn li {
    float: left; 
    padding:0px 2px; 
    margin-right:5px; 
}
 
 
 
 


table {
	text-align : center;
	BORDER-COLLAPSE: collapse;
	border : 1px solid #4a4a4b;
}

#join_table {
	text-align : center;
	BORDER-COLLAPSE: collapse;
	
}

tr {
	margin : 15px 0;
	border-bottom : 1px solid #e3e3e3;
}

#join_col {
	width : 150px;
	border-right : 1px solid #4a4a4b;
	padding : 15px 0;
}

input {
	height : 23px;
	margin : 0 15px;
}

button {
	width:200px; 
	height:35px; 
	margin:25px 0 0 0; 
	background: #ededed; 
	border:1px solid #4a4a4b;
}



#login_col {
	width : 150px;
	border-right : 1px solid #4a4a4b;
	padding : 15px 0;
}